#playground{
    background: #e0ffe0 url(images/pixel_grid.jpg);
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border: solid 1px #000;
}
#ball {
    background: #fbb;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 150px;
    top: 100px;
    border-radius: 10px;
}
.paddle {
    background: #bbf;
    left: 50px;
    top: 70px;
    position: absolute;
    width: 10px;
    height: 80px;
}
#paddleB {
    left: 720px;
}
.score {
    display: inline-block;
    padding-right: 565px;
    padding-left: 30px;
    color: #FF0000;
}